<div class="mt-2">
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" *ngIf="currentPage > 1"
        (click)="onNumberClick(currentPage - 1)">
        <a class="page-link">Previous</a>
      </li>
      <li *ngFor="let item of paginationItems"
        [ngClass]="item.active ? 'page-item active' : 'page-item'">
        <a class="page-link" (click)="onNumberClick(item.page_number)">
          {{ item.page_number }}
        </a>
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages"
        (click)="onNumberClick(currentPage + 1)">
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</div>
